<thead>
    <tr>
        <th style="width: 32px;">
            <div class="rkmd-checkbox checkbox-rotate checkbox-ripple">
                <label class="input-checkbox checkbox-primary">
                    <input type="checkbox" id="checkbox">
                    <span class="checkbox"></span>
                </label>
            </div>
        </th>
        <th>#</th>
        <th>Ảnh</th>
        <th>Mã</th>
        <th>Tên sản phẩm</th>
        <th>SL/SL bán <i class="fa fa-question-circle" aria-hidden="true"></i></th>
        <th>Số tiền</th>
        <th>Ngày cập nhật</th>
        <th>Người cập nhật</th>
        <th>Hành động</th>
    </tr>
</thead>